body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(255, 253, 242);
}

.myalert1 {
    display: none;
    font-size: medium;
    padding-top: 10px;
}

.mywidth {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.myh2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

fieldset {
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
  }

.my-btn {
    display: flex;
    align-items: center;
}
